body {
  font-family: "system-ui", sans-serif;
}
ol {
  line-height: 1.5;
}

a {
  text-decoration: underline;
  color: #2d3248;

  transition: all 0.25s ease;
}

a:hover {
  color: #6d7f97;
  text-decoration: none;
}
