*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #1f2f56;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: url("images/pattern-background-desktop.svg") repeat-x, #e0e8ff;
}

.wrapper {
    max-width: 450px;
    background: white;
    overflow: hidden;
    border-radius: 1.2rem;
    box-shadow: 0 20px 25px -5px rgba(56, 41, 224, 0.1);
}

main {
    padding: 2.8rem 3rem;
    text-align: center;
}

.heading-primary {
    font-weight: 900;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.paragraph-primary {
    line-height: 1.65rem;
    color: #7280a7;
    margin-bottom: 1rem;
}

.order-item__wrapper {
    padding: 1.45rem;
    background: #f5f7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 2.2rem;
}

.order-item__flex-group {
    display: flex;
    align-items: center;
    gap: 1.05rem;
}

.order-item__info {
    display: grid;
    gap: 0.3rem;
}
.order-item__info h2 {
    font-weight: 900;
}
.order-item__info p {
    color: #7280a7;
}

.btn__change-order {
    color: #3829e0;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: underline;
    text-underline-offset: 1px;
    transition: 0.2s;
}
.btn__change-order:hover {
    text-decoration: none;
    color: rgba(56, 41, 224, 0.7);
}

.btn__proceed {
    width: 100%;
    font-weight: 700;
    background: #3829e0;
    color: #f5f7ff;
    border: none;
    border-radius: 0.6rem;
    padding: 0.9rem 0;
    margin-bottom: 2.2rem;
    box-shadow: 0 20px 25px -5px rgba(56, 41, 224, 0.25);
    -webkit-box-shadow: 0 20px 25px -5px rgba(56, 41, 224, 0.25);
    -moz-box-shadow: 0 20px 25px -5px rgba(56, 41, 224, 0.25);
    transition: 0.2s;
}
.btn__proceed:hover {
    background: rgba(56, 41, 224, 0.8);
    cursor: pointer;
}

.btn__cancel-order {
    color: #7280a7;
    font-weight: 700;
    display: block;
    transition: 0.2s;
}
.btn__cancel-order:hover {
    color: #1f2f56;
}

@media (max-width: 600px) {
    .body {
        background: url("images/pattern-background-mobile.svg") repeat-x, #e0e8ff;
    }

    .wrapper {
        max-width: 325px;
    }

    main {
        padding: 1.56rem;
    }

    .heading-primary {
        font-size: 1.35rem;
    }

    .order-item__wrapper {
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    .order-item__info {
        text-align: start;
    }
    .order-item__info h2 {
        font-size: 0.9rem;
    }
    .order-item__info p {
        font-size: 0.9rem;
    }

    .btn__change-order {
        font-size: 0.9rem;
    }

    .btn__proceed {
        margin-bottom: 1.5rem;
    }
}