@use "./components/variables" as *;
@use "./components/utils" as *;

body {
  font-family: $ff-primary;
  background-image: url("../assets/tablet/image-hero.png");
  background-size: 26rem;
  background-repeat: no-repeat;
  background-position: top 8.1rem center;
}

.header {
  padding: 3rem $padding-x 0;
  &__logo {
    max-width: min-content;
    margin-inline: auto;
  }
}

main {
  margin-top: 15.5rem;
  text-align: center;
}

.introduction {
  padding: 0 $padding-x;
  &__heading {
    line-height: 1.1;
    max-width: 80%;
    margin-inline: auto;
  }
  &__body {
    line-height: 1.625;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .btn {
    display: block;
    margin-inline: auto;
  }
  .btn + .btn {
    margin-top: 1rem;
  }
}

.description {
  margin-top: 9.25rem;
  padding: 0 $padding-x;

  &__heading-secondary {
    display: block;
    text-transform: uppercase;
    line-height: 1.625;
    letter-spacing: 0.25rem;
    margin-top: 4rem;
    margin-bottom: 1.45rem;
  }
  &__heading-primary {
    line-height: 1.125;
  }
  &__body {
    margin-top: 2rem;
    line-height: 1.625;
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 4rem;

  img {
    border-radius: 0.5rem;
  }
}

.cta {
  position: relative;
  margin-top: 11rem;
  background-color: $clr-primary-500;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../assets/mobile/image-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.105;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    padding: 5.75rem $padding-x 4.5rem;
  }
  &__heading {
    line-height: 1.125;
  }
  &__body {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.44444;
  }
  .divider {
    position: absolute;
    top: -1.75rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 37.5em) {
  body {
    background-size: 51rem;
    background-position: top 8.8rem center;
  }
  main {
    margin-top: 27.1rem;
  }
  .introduction {
    &__heading {
      max-width: max(20.25rem, 45%);
      line-height: 1;
    }
    &__body {
      max-width: max(25.5rem, 57.5%);
      margin-inline: auto;
      margin-bottom: 2rem;
    }
    .btn {
      display: revert;
    }
    .btn + .btn {
      margin-left: 0.8rem;
      margin-top: 0;
    }
  }
  .description {
    margin-top: 10.25rem;

    &__heading-secondary {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
    &__heading-primary {
      max-width: max(26.875, 62.5%);
      margin-inline: auto;
      line-height: 1.1;
    }
    &__body {
      margin-inline: auto;
      max-width: max(36.5rem, 85%);
    }
  }
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.69rem;
    margin-top: 4.2rem;
  }
  .cta {
    margin-top: 12rem;
    &::after {
      background-image: url("../assets/tablet/image-footer.jpg");
    }

    &__content {
      padding: 5.75rem $padding-x 4.12rem;
    }
    &__heading {
      line-height: 1.1;
      margin-inline: auto;
      max-width: max(26rem, 60%);
    }
    &__body {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
      margin-inline: auto;
      max-width: max(36.5, 85%);
    }
  }
}

@media only screen and (min-width: 60em) {
  body {
    background-image: url("../assets/desktop/image-hero-left.png"),
      url("../assets/desktop/image-hero-right.png");
    background-size: 27.5%;
    background-position: top 10.56rem left -2.1rem, top 14rem right -2.1rem;
    padding-inline: 1rem;
  }
  .header {
    padding: 5rem 0 0;
  }
  main {
    margin-top: 6.4rem;
  }
  .introduction {
    max-width: 69.375rem;
    margin-inline: auto;
    &__heading {
      max-width: max(26.25rem, 37.5%);
    }
    &__body {
      line-height: 1.44444;
      margin-top: 2.12rem;
      margin-bottom: 2rem;
      max-width: max(33.125rem, 48%);
    }
  }
  .description {
    max-width: 69.375rem;
    margin-inline: auto;
    margin-top: 12.56rem;
    &__heading-secondary {
      margin-top: 5rem;
    }
    &__heading-primary {
      max-width: max(28.125rem, 40%);
    }
    &__body {
      line-height: 1.44444;
      max-width: max(34.5, 50%);
    }
  }
  .photo-grid {
    gap: 1.875rem;
    margin-top: 4rem;

    img {
      transition: scale 0.2s ease;
      &:hover {
        scale: 1.025;
      }
    }
  }
  .cta {
    margin-inline: -1rem;
    margin-top: 11.5rem;
    padding-inline: 1rem;

    &::after {
      background-image: url("../assets/desktop/image-footer.jpg");
    }

    &__content {
      text-align: start;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 69.375rem;
      margin-inline: auto;
      padding: 7.2rem var(--padding-x) 4rem;
    }
    &__heading {
      margin: 0;
      max-width: 23rem;
    }
    &__body {
      max-width: 21.875rem;
      margin: 0;
      padding-bottom: 0.7rem;
      padding-left: 0.6rem;
    }
  }
}
