$clr-primary-blue: hsla(177, 68%, 64%, 1);
$clr-primary-orange: hsla(12, 94%, 65%, 1);
$clr-primary-yellow: hsla(33, 100%, 70%, 1);

$clr-neutral-100: hsla(20, 33%, 98%, 1);
$clr-neutral-900: hsla(244, 23%, 12%, 1);

$ff-primary: "IBM Plex Sans", sans-serif;

$fw-regular: 400;
$fw-bold: 700;
