:root {
  --fs-400: 0.75rem;
  --fs-500: 0.875rem;
  --fs-600: 0.9375rem;
  --fs-700: 1.625rem;
}
@media only screen and (min-width: 37.5em) {
  :root {
    --fs-600: 1.125rem;
    --fs-700: 3rem;
  }
}
@media only screen and (min-width: 60em) {
  :root {
    --fs-600: 1.125rem;
    --fs-700: 3.25rem;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.clr-primary-500 {
  color: hsl(157, 74%, 62%);
}

.clr-primary-300 {
  color: hsl(157, 100%, 85%);
}

.clr-secondary-500 {
  color: hsl(0, 96%, 61%);
}

.clr-neutral-900 {
  color: hsl(224, 35%, 11%);
}

.clr-neutral-700 {
  color: hsl(225, 26%, 23%);
}

.clr-neutral-500 {
  color: hsl(225, 21%, 45%);
}

.clr-neutral-300 {
  color: hsl(225, 40%, 83%);
}

.clr-neutral-100 {
  color: hsl(0, 0%, 100%);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fw-light {
  font-weight: 300;
}

.fw-thin {
  font-weight: 100;
}

.fw-extralight {
  font-weight: 200;
}

.input {
  background-color: hsl(225, 26%, 23%);
  border: none;
  border-radius: 100vh;
  color: hsl(225, 40%, 83%);
  padding: 0.56rem 2rem;
  line-height: 2;
}
@media (min-width: 37.5em) {
  .input {
    padding: 0.88rem 0.5rem 0.88rem 2rem;
    background-color: 0;
  }
}
@media (min-width: 60em) {
  .input {
    padding: 0.88rem 0.5rem 0.88rem 1.75rem;
  }
}

.btn {
  background-color: hsl(157, 74%, 62%);
  border-radius: 100vh;
  border: none;
  padding: 0.56rem 2rem;
  line-height: 2;
}
.btn:focus-visible {
  outline: 2px dashed hsl(157, 74%, 62%);
  outline-offset: 1px;
}
@media only screen and (min-width: 37.5rem) {
  .btn {
    padding: 0;
  }
}
@media only screen and (min-width: 60em) {
  .btn {
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .btn:hover, .btn:focus-visible {
    background-color: hsl(157, 100%, 85%);
  }
}

.attribution {
  color: hsl(225, 40%, 83%);
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 700;
}
.attribution a {
  color: hsl(157, 74%, 62%);
}
@media only screen and (min-width: 60em) {
  .attribution a {
    position: relative;
    transition: color 0.2s ease;
  }
  .attribution a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: hsl(157, 74%, 62%);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  .attribution a:hover {
    color: hsl(157, 100%, 85%);
  }
  .attribution a:hover::after {
    background-color: hsl(157, 100%, 85%);
    transform-origin: left;
    transform: scaleX(1);
  }
}

body {
  position: relative;
  font-family: "Chivo", sans-serif;
  background-color: hsl(224, 35%, 11%);
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/mobile/image-host.jpg");
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
}

.header {
  padding-top: 4rem;
}
.header__logo {
  max-width: min-content;
  margin-inline: auto;
}

.main {
  margin-inline: 1.5rem;
  margin-top: 3.5rem;
  text-align: center;
}
.main__heading {
  line-height: 1.46154;
  text-transform: uppercase;
}
.main__body {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.66667;
}

.platforms {
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.platforms__item svg {
  max-width: 80%;
}

.input-control > * {
  display: block;
  width: 100%;
  text-align: start;
}
.input-control.validation-error .error {
  display: block;
}

.form .btn {
  margin-top: 1rem;
  width: 100%;
  display: block;
}

.error {
  display: none;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 37.5em) {
  body {
    background-image: url("../assets/desktop/bg-pattern-dots.svg");
    background-repeat: no-repeat;
    background-position: bottom -0.25rem left 2.5rem;
  }
  body::before {
    background-image: url("../assets/tablet/image-host.jpg");
    background-size: revert;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.8;
  }
  .header {
    padding-top: 3.1rem;
    padding-left: 2.5rem;
  }
  .header__logo {
    margin-inline: revert;
  }
  .main {
    margin-top: 9.5rem;
    background-color: hsl(224, 35%, 11%);
    margin-inline: revert;
    margin-left: 2.5rem;
    max-width: 40rem;
    text-align: start;
    padding: 5.8rem 0 0;
  }
  .main__heading {
    line-height: 1.16667;
  }
  .main__body {
    line-height: 1.55556;
    max-width: 27.8rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
  .grid-flow {
    display: grid;
    gap: 4rem;
  }
  .platforms {
    margin: 0;
    grid-row: 2;
  }
  .form {
    position: relative;
    display: flex;
    max-height: 3.5rem;
    max-width: 26.6rem;
    justify-content: space-between;
    background-color: hsl(225, 26%, 23%);
    border-radius: 100vh;
    padding: 0.3rem;
    grid-row: 1;
    align-items: center;
  }
  .form .btn {
    margin: 0;
    height: 100%;
    max-width: 10.125rem;
    display: inline-block;
  }
  .form:focus-within {
    outline: 2px dashed hsl(157, 74%, 62%);
    outline-offset: 1px;
  }
  .input-control > * {
    width: revert;
  }
  .input-control .input {
    outline: 0;
    width: 100%;
  }
  .platforms {
    max-width: 85%;
  }
  .platforms__item svg {
    max-width: 90%;
  }
  .error {
    position: absolute;
  }
}
@media only screen and (min-width: 60em) {
  body {
    background-image: url("../assets/desktop/bg-pattern-dots.svg"), url("../assets/desktop/image-host.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 44.88rem right, top 8.12rem right;
    padding-inline: 1rem;
  }
  body::before {
    display: none;
  }
  .wrapper {
    max-width: 69.375rem;
    margin-inline: auto;
  }
  .main {
    margin: 6rem 0 0;
    padding: 5.5rem 3.63rem 0 0;
    max-width: 45.187rem;
  }
  .main__heading {
    line-height: 1.19231;
  }
  .main__body {
    margin-top: 1.5rem;
    letter-spacing: -0.006rem;
  }
  .header {
    padding: 6.38rem 0 0;
  }
  .platforms {
    max-width: none;
    justify-content: revert;
    gap: 2.5rem;
  }
  .platforms__item:last-child {
    margin-left: -0.7rem;
  }
  .platforms__item svg {
    max-width: none;
  }
}

/*# sourceMappingURL=style.css.map */
