$clr-dark-cyan: hsl(185, 75%, 39%);
$clr-very-dark-desaturated-blue: hsl(229, 23%, 23%);
$clr-dark-grayish-blue: hsl(227, 10%, 46%);

$clr-neutral: hsl(0, 0%, 59%);

$fs-primary: 1rem;

$ff-primary: 'Kumbh Sans', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul[role="list"],
ol[role="list"]{
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-family: $ff-primary;
  font-size: $fs-primary;
  font-weight: $fw-regular;
  color: $clr-very-dark-desaturated-blue;
}

body {
  background-color: $clr-dark-cyan;
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-position: right 42vw bottom 41vh, left 31vw top 47vh;
  background-repeat: no-repeat, no-repeat;
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

.card-container {
  max-width: 21.875rem;
  border-radius: 0.9rem;
  margin: 0 1.5rem;
  overflow: hidden;
  background: white;

  box-shadow: 0 2rem 3rem 0 hsl(185, 75%, 25%, .5);
  -moz-box-shadow: 0 2rem 3rem 0 hsl(185, 75%, 25%, .5);
  -webkit-box-shadow: 0 2rem 3rem 0 hsl(185, 75%, 25%, .5);
}

.person-container {
  margin-top: -3.125rem;
  padding: 0 3.125rem 1.65rem 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-image {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  outline: 5px solid white;
  margin-bottom: 1.35rem;
}

.person-name {
  font-size: 1.125rem;
  margin-bottom: .5rem;

  .person-age {
    font-weight: $fw-regular;
    color: $clr-neutral;
  }
}

.city {
  font-size: 0.8rem;
  font-weight: $fw-regular;
  color: $clr-neutral;
}

.stats-container {
  padding: 1.65rem 1rem;
  border-top: 1px solid hsla(hue($clr-neutral), saturation($clr-neutral), lightness($clr-neutral), .3);
}

.stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 15.625rem;
  margin-inline: auto;

  li {
    display: flex;
    flex-direction: column;
  }
}

.stats-number {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.stats-name {
  color: $clr-neutral;
  text-transform: capitalize;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 40em) {
  body {
    background-position: right 52vw  bottom 35vh, left 48vw top 52vh;
  }
}





.attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 2rem 0 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: hsla(230, 8%, 15%);

  a {
    color: hsla(230, 8%, 15%, .6);
    transition: 0.2s ease;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: hsla(230, 8%, 15%, .4);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.5s;
  -webkit-animation: fade-in 1.5s;
}