$clr-primary-500: hsla(157, 74%, 62%, 1);
$clr-primary-300: hsla(157, 100%, 85%, 1);
$clr-secondary-500: hsla(0, 96%, 61%, 1);

$clr-neutral-900: hsla(224, 35%, 11%, 1);
$clr-neutral-700: hsla(225, 26%, 23%, 1);
$clr-neutral-500: hsla(225, 21%, 45%, 1);
$clr-neutral-300: hsla(225, 40%, 83%, 1);
$clr-neutral-100: hsla(0, 0%, 100%, 1);

$ff-primary: "Chivo", sans-serif;

$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;

$fs-400: var(--fs-400);
$fs-500: var(--fs-500);
$fs-600: var(--fs-600);
$fs-700: var(--fs-700);

:root {
  --fs-400: 0.75rem;
  --fs-500: 0.875rem;
  --fs-600: 0.9375rem;
  --fs-700: 1.625rem;

  @media only screen and (min-width: 37.5em) {
    --fs-600: 1.125rem;
    --fs-700: 3rem;
  }
  @media only screen and (min-width: 60em) {
    --fs-600: 1.125rem;
    --fs-700: 3.25rem;
  }
}
